<!DOCTYPE html>
<html lang ="en">
<head>
	<meta charset="UTF-8">
	<title>Document</title>
	<link rel="stylesheet" href="<%= assetFingerprint('/stylesheets/styles.css') %>">
	<link href="https://fonts.googleapis.com/css?family=ZCOOL+XiaoWei" rel="stylesheet">
</head>
<body>
		<header>
				<div class="logo">
					<a href="html.html">
						<img class="graficlogo" src="/images/blckhat.jpg" alt="Logo"></a>
				</div>
		

				<nav>
					<div class="navtop" id="navtopid">
						<a href="/html.html">Home</a>	
						<a href="about.html">About</a>
						<a href="work.html">Work</a>
						<a href="library.html">Library</a>
						<a href="forum.html">Forum</a>
						<a href="LogIn.html">LogIn</a>
						<a id="menu" href="#" class="icon">&#9776; </a>
					</div>
				</nav>
			</header>